@model IoT.Web.Models.Mdl

@section scripts {
    @Scripts.Render("~/app/Management/DeviceViewModel.js")
    @Scripts.Render("~/app/common/dateSelector.js")
    @Scripts.Render("~/app/common/timeSeriesGraph.js")
    @Scripts.Render("~/Scripts/flot/jquery.flot.min.js")
    @Scripts.Render("~/Scripts/flot/jquery.flot.navigate.min.js")
    @Scripts.Render("~/Scripts/FileSaver.js")
}

<div ng-controller="DeviceViewModel" data-device-id="@Model.Id">
    <table width="100%">
        <tr>
            <td width="70%">
                <h2>Device - {{device.Name}}</h2>
            </td>
            <td>
                <a ng-href="{{parentServicePageUrl}}">Go to Service</a>
                <a ng-href="{{parentNetworkPageUrl}}">&nbsp;&nbsp;Go to Enclosing network</a>
            </td>
        </tr>
        <tr>
            <td width="70%" valign="top">
                <h3>Device data</h3>
                <a href="#" ng-click="currentDataShown=true;showCurrentData()">Show current data</a>
                <div ng-if="currentDataShown">
                    <button ng-click="exportCurrentDataCsv()">Export CSV</button>
                    <div>Timestamp: {{currentDataTimestamp}}</div>
                    <div>Data: {{currentData}}</div>
                </div>
                <br />
                <br />
                <div date-selector-directive="timestamp"></div>
                <a href="#" ng-click="timeSeriesShown=true;showTimeSeries()">Show timeseries</a>
                <div ng-if="timeSeriesShown && timeSeriesData.length > 0">
                    <button ng-click="showGraph()">Show graph</button>
                    <button ng-click="exportTimeseriesCsv()">Export CSV</button>
                    <div time-series-graph-directive="timeSeriesData" graph-shown="graphShown"></div>
                    <table>
                        <tr>
                            <th>Timestamp</th>
                            <th>&nbsp;&nbsp;</th>
                            <th>Data</th>
                        </tr>
                        <tr ng-repeat="tsd in timeSeriesData">
                            <td>{{tsd.Timestamp}}</td>
                            <th>&nbsp;&nbsp;</th>
                            <td>{{tsd.Payload}}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td valign="top">
                <h3>Device properties</h3>

                <div ng-if="!editDeviceVisible">
                    <h4>Basic properties</h4>
                    <p>
                        <label>Id</label> {{device.Id}}
                    </p>
                    <label>Name</label> {{device.Name}} <br />
                    <label>DeviceKey</label> {{device.DeviceKey}} <br />
                    <a href="#" ng-click="showEditDevice()">Edit</a>
                </div>
                <div class="embeddedinputform" ng-if="editDeviceVisible">
                    <h4>Edit Device</h4>
                    <label class="thinlabelwidth" for="editName">Name</label><input type="text" name="editName" ng-model="editDevice.Name" /><br />
                    <button ng-click="saveDevice()">Save</button>
                    <a href="#" ng-click="cancelInput()">Cancel</a>
                </div>
                <div url-info-directive></div>
            </td>
        </tr>
    </table>
</div>
